.user_card_function_bar{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100%);
    height: 60px;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    background: #808080;
}

.user_card_select_user{
    position: relative;
    transition: 0.2s;
    display: flex;
    width: calc(100% - 1px);
    height: 100%;
    margin-left: 1px;
    background: #eeeeee;
}

.user_card_select_user:hover{
    background: #c3dc93;
}

.user_card_select_user:active{
    filter: brightness(95%);
}

.user_card_select_user h6{
    color: #434343;
    font-weight: 700;
    font-family: Poppins, serif;
    font-size: 14px;
}

.user_card_extra_button{
    all: unset;
}


.user_card_extra_info{
    position: relative;
    transition: 0.2s;
    display: flex;
    width: calc(100% - 1px);
    height: 100%;
    margin-right: 1px;
    background: #eeeeee;
}

.user_card_extra_info:hover{
    background: #c3dc93;
}

.user_card_extra_info:active{
    filter: brightness(95%);
}


.user_card_extra_info h6{
    color: #434343;
    font-weight: 700;
    font-family: Poppins, serif;
    font-size: 14px;
}
.user_card_inner_container{
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
}

.user_card{
    display: flex;
    height: 230px;
    width: 100%;
    max-width: 500px;
    background-color: #eeeeee;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.container_card_parent{
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin-left: 2px;
    margin-top: 2px;
    background: #ffffff;
    border-radius: 4px;
}

.user_card_selected{
    transform: scale(1.04);
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    background: #434343;
    border-radius: 6px;
}

.user_card_info_container{
    position:absolute;
    width: 65%;
    height: 100%;
    right: 0;
}

.user_card_image_container{
    position: absolute;
    width: 35%;
    height: 100%;
}

.user_card_image{
    height: 110px;
    width: 110px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    border: 2px solid #676767;
}

.user_card_info{
    width: 100%;
    height: 70%;
}

.user_card_name_container{
    position: absolute;
    height: 50%;
    width: 100%;
}


.user_card_name_container h5{
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
}

.user_card_name_container h6{
    position: absolute;
    bottom: 30px;
    color: #434343;
    font-weight: 400;
    font-size: 14px;
}

.user_card_language_container{
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
}

.user_card_language_container h5{
    position: absolute;
    top: 30px;
    font-weight: 700;
    font-size: 14px;
}

.user_card_language_container h6{
    position: absolute;
    top: 5px;
    font-weight: 400;
    font-size: 14px;
}

.user_card_name{

}

.user_card_language{

}

.user_card_right_bottom_container{
    position: absolute;
    width: 70%;
    right: 0;
    bottom: 0;
    height: 40px;
}

.user_card_right_top_container{
    position: absolute;
    width: 100px;
    right: 0;
    top: 0;
    height: 40px;
}

.user_card_right_top_container p{
    font-size: 12px;
}

.user_card_right_bottom_container p{
    font-size: 12px;
}

.user_card:hover{
    transform: scale(1.02);
    z-index: 1;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    background: #434343;
}

.user_card:hover .container_card_parent:hover{

}



.user_card_selected:hover{
    transform: scale(1.04);
}

.create_new_user_initial:hover ~ .user_card{
    filter: opacity(20%);
}

.user_card_admin_id_text{
    right: 20px;
    bottom: 10px;
    padding: 0;
    margin: 0;
}

.user_card_name_input{
    bottom: 0;
    height: 35px;
    padding-left: 5px;
    width: 100%;
}

.user_card_language_input{
    position: absolute;
    bottom: 20px;
    height: 35px;
    padding-left: 5px;
    width: 90%;
}

.user_card_name_edit_container_firstName{
    position: relative;
    display: inline-block;
    width: 45%;
}

.user_card_name_edit_container_lastName{
    position: relative;
    display: inline-block;
    width: 45%;
}

.user_card_container_edit_inner{
    position: absolute;
    bottom: 10px;
}

.user_card_edit{
    display: flex;
    height: 230px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    border: 2px solid #eeeeee;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.user_input_edit_img{
    position: absolute;
    bottom: 10px;
    width: calc(100% - 80px);
    left: 40px;
}

.form_edit_user{
    width: 100%;
    height: 100%;
}

.star_user{
    fill: #434343;
}

.delete_user_hmm:hover{
    background: #d75f5f;
}