.users_card_container{
    position: relative;
    width: 100%;
}

.wrap_user_header {
    background: #c3dc93;
}

.wrap_user_list{
    background: #ffffff;
}

.user_header_container{
    position: relative;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.user_header_content_container{
    position: relative;
    transition: 0.4s;
}

.user_arrow_btn{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: -30px;
}

.user_header_arrow_container{
    position: absolute;
    height: 56px;
    bottom: 0;
    width: 100%;
    transform: rotate(180deg);
}

.user_header_arrow{
    transition: 0.2s;
    width: 50px;
    height: 50px;
    fill: rgba(195, 220, 147, 1);
    filter: brightness(90%);
}

.admin_info_container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrap_user_header:hover .user_header_arrow{
    filter: brightness(80%);
}

.user_arrow_btn:hover .user_header_arrow{
    filter: brightness(50%);
}

.admin-info-inner{
    position: absolute;
    width: 450px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    animation-name: adminInfoFade;
    animation-duration: 0.3s;
}

.logout_button{
    position: absolute;
    padding: 0;
    margin: 0;
    width: 220px;
    height: 60px;
    top: 10px;
    right: 0;
    border-radius: 6px;
    background: #eeeeee;
    border: 2px solid #818181;
}
.edit_button{
    position: absolute;
    padding: 0;
    margin: 0;
    width: 220px;
    height: 60px;
    top: 10px;
    left: 0;
    border-radius: 6px;
    background: #eeeeee;
    border: 2px solid #818181;
}

.admin_id_user{
    padding: 10px;
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: #434343;
    animation-name: adminInfoFade;
    animation-duration: 0.5s;
    filter: opacity(80%);
}

.admin_email_user{
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: #434343;
    animation-name: adminInfoFade;
    animation-duration: 0.5s;
    filter: opacity(80%);
}

@keyframes adminInfoFade {
    0%   {filter: opacity(0%)}
    25%  {filter: opacity(0%)}
    50%  {filter: opacity(50%)}
    100% {filter: opacity(80%)}
}


.users_grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    height: fit-content;
    width: 80%;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
}

.users_grid_edit{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    height: fit-content;
    width: 80%;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
}

.user_card_create_new_description{
    font-weight: 700;
    color: #434343;
}

.create_user_sub_description_container{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
}

.create_user_sub_text{
    color: #f2f2f2;
}

.create_new_user_initial{
    display: flex;
    height: 230px;
    width: 100%;
    cursor: pointer;
    background: #eeeeee;
    position: relative;
    transition: 0.1s;
    border: 2px solid #174a5b;
    max-width: 500px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.exit_create_new_user{
    display: flex;
    height: 100px;
    width: 100%;
    cursor: pointer;
    background: #eeeeee;
    position: relative;
    transition: 0.1s;
    border: 2px solid #174a5b;
    max-width: 500px;
    border-radius: 6px;
}

.exit_create_new_user:hover{
    transform: scale(1.04);
    z-index: 1;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #174a5b;
    border-radius: 6px;
}


.create_new_user_initial:hover{
    transform: scale(1.02);
    z-index: 1;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #174a5b;
    border-radius: 6px;
}

.exit_create_new_user:hover ~ .create_new_user_toggle{
    filter: opacity(20%);
}


.create_new_user_toggle{
    display: flex;
    height: 700px;
    width: 100%;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    border: 2px solid #eeeeee;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    animation: createUser;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.create_user_container{
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    left: 25px;
    top: 25px;
}

.user_input_label{
    position: relative;
    width: 100%;
}

.user_input_container{
    position: relative;
    width: 80%;
    max-width: 350px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.user_input{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #eeeeee;
    padding-left: 6px;
}

.user_create_img_container{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 25px auto;
}

.user_create_img{
    position: absolute;
    width: 125px;
    height: 125px;
    border: 2px solid #434343;
    border-radius: 100%;
    background: url("../img/default_image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user_create_new_button{
    width: 100%;
    height: 50px;
    border-radius: 6px;
}