/* Main Stylesheet -> Shared values between all pages. */

html,
body,
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html{
    min-height: 100vh !important;
    height: 100vh;
}

#container_main{
    position: absolute;
    height: calc(100vh - 80px);
    width: 100vw;
    margin-top: 80px;
    background: #f2f2f2;
    overflow: scroll;
    scrollbar-face-color: orange;
    scrollbar-track-color: pink;
    overflow-x: hidden;
}

.container_inner{
    position: relative;
    height: auto;
    width: 100vw;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

#container_main::-webkit-scrollbar {
    scrollbar-face-color: orange;
    scrollbar-track-color: pink;
}

.wrap_header{
    background: #f2f2f2;
}

.wrap_content{
    background: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }

