.top_container{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.report_card {
    display: flex;
    height: 200px;
    width: 100%;
    border-radius: 0;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    border: 2px solid #eeeeee;
}

.report_card:hover {
    transform: scale(1.04);
    z-index: 1;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #174a5b;
    border-radius: 6px;
}

.report_card_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
    height: auto;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    row-gap: 25px;
    column-gap: 25px;
}

.report_card_info{
    position: absolute;
    width: calc(100% - 125px);
    height: 100%;
    right: 0px;
}

.report_card_text {
    color: black;
}

.file_report_form{
    text-align: center;
}

.file_report_input{
    margin-left: auto;
    margin-right: auto;
    width: 300px !important;
}
.file_report_input_comment{
    margin-left: auto;
    margin-right: auto;
    width: 300px !important;
}

.parts_card_container {
    margin-top: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    height: auto;
    width: 80%;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
}

.report_card_icon{
    height: 150px;
    width: 150px;
}
.error{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 400px !important;
}
.image_container{
    position: absolute;
    height: 100%;
    width: 175px;
}
.parts_report_card{
    display: flex;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    border-radius: 0;
    background-color: white;
    cursor: pointer;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    transition: 0.1s;
    border: 2px solid #eeeeee;
}
.parts_report_card:hover{
    transform: scale(1.04);
    z-index: 1;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #174a5b;
    border-radius: 6px;
}
.parts_card_info{
    position: absolute;
    height: 20px;
    width: 100%;
}
.parts_card_text{
    position: absolute;
    color: #434343;
    left: 150px;
    pointer-events: none;
}
.parts_image_container{
    position: absolute;
    width: 100px;
    height: 100%;
}

.parts_image{
    height: 80px;
    width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}