.top_container{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.report_card {
    display: flex;
    height: 200px;
    width: 100%;
    border-radius: 0;
    background-color: white;
    cursor: pointer;
    padding: 0px;
    position: relative;
    transition: 0.1s;
    border: 2px solid #eeeeee;
}

.report_card:hover {
    transform: scale(1.04);
    z-index: 1;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #174a5b;
    border-radius: 6px;
}

.report_card_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
    height: auto;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    row-gap: 25px;
    column-gap: 25px;
}

.report_card_info{
    position: relative;
    width: 300px;
    text-align: center;
}
.report_card_text {
    position: relative;
    line-height: 180px;
    color: black;
}

.file_report_form{
    text-align: center;
}
.file_report_input{
    margin-left: auto;
    margin-right: auto;
    width: 300px !important;
}