.main_content{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.wrap_image{
  margin: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.Image_Container {
  position: relative;
}

.main_text{
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.wrap_home{
  padding-top: 60px !important;
  margin-top: 50px !important;
}

.container_padding{
  padding-bottom: 50px;
}

.main_image{
  object-fit: cover;
  width: 100%;
  max-height: 600px;
  background-position: center;
  background-size: cover;
}

.main_card_container{
  margin-top: 20px;
  text-align: center;
  width: 100vh;
  height: 100%;
}

.main_card_color{
  background-color: #174a5b;
  height: 50%;
}

.main_card{
  transition: 0.1s;
  border-radius: 0 !important;
}

.card_img{
  background-color: #174a5b;
}


.card_img_container{
  position: relative !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width:100%;
  height: 160px;
}

.main_card_container{
  position: relative;
}

.main_card:hover{
  cursor: pointer;
  transform: scale(1.04);
  z-index: 1;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
  border: 2px solid #174a5b !important;
  border-radius: 6px !important;
}
.main_card_icon{
  fill: #174a5b;
  height: 100px;
}
.card_text{
  margin-top: -39px;
}