.main_cointainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    padding-bottom: 40px;
    overflow-x: hidden;
}

.main_content{
  position: relative;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.Image_Container {
  position: relative;
}

.main_text{
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.main_image_card{
  padding-top: 80px !important;
  border-radius: 0px !important;
  border: none !important;
}

.main_card_container{
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main_card_color{
  background-color: #174a5b;
  height: 50%;
}

.main_card{

  transition: 0.1s;
  border-radius: 0px !important;
}

.card_img{
  background-color: #174a5b;
}


.card_img_container{
  position: relative !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width:100%;
  height: 160px;
}

.main_card_container{
  position: relative;
}

.main_card:hover{
  cursor: pointer;
  transform: scale(1.04);
  z-index: 1;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
  border: 2px solid #174a5b !important;
  border-radius: 6px !important;
}
.main_card_icon{
  fill: #174a5b;
  height: 100px;
}
.card_text{
  margin-top: -39px;
}
