html,
body,
* {
  margin: 0;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
}

.header_container {
  position: absolute;
  background-color: #174a5b;
  height: 15vh;
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header_title {
  position: relative;
  color: #c3dc93;
  font-size: 7vh;
  top: 20px;
  left: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header_urlContainer {
  display: flex;
  position: absolute;
  text-decoration: none;
  left: 700px;
  top: 25px;
}
.header_links {
  list-style: none;
  text-decoration: none;
}
.header_linkName {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 2vh;
  text-decoration: none;
  text-align: right;
  margin-right: 9vh;

  color: #c3dc93;
  /*text-decoration: underline;
  text-decoration-color: #c3dc93; */
}
.header_svg {
  position: relative;
  height: 6vh;
  width: 6vh;
  color: white;
  align-items: center;
}

h2 {
  text-decoration: none;
}
