html,
body,
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header_container {
  position: absolute;
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  display: flex;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.header_title {
  position: absolute;
  color: #c3dc93;
  font-size: 3vh;
  top: 16px;
  left: 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
}
.header_urlContainer {
  position: absolute;
  display: flex;
  text-decoration: none;
  right: 0;
}

.header_links {
  transition: 0.2s;
  position: relative;
  list-style: none;
  text-decoration: none;
  margin-right: 50px;
  width: 150px;
  height: 60px;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 12px;
}
.header_links:hover{
  filter: brightness(95%);
}

.header_linkName {
  position: absolute;
  left: 60px;
  bottom: 10px;
  color: #434343;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}
.header_svg {
  position: absolute;
  height: 40px;
  width: 40px;
  align-items: center;
  color: #174a5b;
  left: 10px;
  bottom: 10px;
}
