.learn_heading_container {
    position: relative;
    text-align: center;
    height: 190px;
}

/*
.learn_container {
    position: relative;
    height: 100%;
    width: 100vw;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
}
 */

.learn_text {
    padding-top: 50px;
    position: relative;
}

.learn_card_container_fix{
    position: absolute;
    width: 100%;
    height: auto;
    background: #f2f2f2;
    padding-bottom: 40px;
}

.learn_card_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.learn_card {
    display: flex;
    height: 200px;
    width: 100%;
    border-radius: 0;
    background-color: white;
    cursor: pointer;
    padding: 25px;
    position: relative;
    transition: 0.1s;
    border: 2px solid #eeeeee;
}

.learn_card:hover {
    transform: scale(1.04);
    z-index: 1;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #174a5b;
    border-radius: 6px;
    opacity: 100% !important; 
}

.learn_card_text {
    position: relative;
    text-align: center;
    height: 60px;
    color: black;
}

.progress_bar {
    background-color: #174859 !important;
    border-radius: 15px !important;
    height: 25px !important;
}

.learn_single_progress {
    position: absolute !important;
    bottom: 15px !important;
    right: 0;
    height: 25px !important;
    max-width: 300px !important;
    border-radius: 15px !important;
    width: 100%;
    overflow: initial !important;
}

.card_info {
    position: relative;
    width: calc(100% - 160px);
}

.learn_total_progress {
    width: 400px;
    margin: auto;
    height: 25px !important;
    border-radius: 6px !important;
}

.learn_card_watched_container{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    top: 0;
}

.learn_card_watched{
    width: 50px;
    height: 50px;
}

.progress_total_text {
    padding-top: 96px;
    font-weight: 600 !important;
}

.single_progress_text{
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: -30px !important;
    font-style: unset !important;
    font-weight: 700 !important;
}

.learn_card_text h5{
    font-weight: 600;
}

.progress_on_card {
    color: black;
    padding-top: 48px;
    font-size: 14px;
}

.learn_progress_background {
    background-color: #174859 !important;
}

.learn_loading{
    margin-top: 60px;
}

.learn_card_icon{
    height: 125px;
    width: 125px;
}

.learn_card_image{
    position: relative;
    width: 150px;
    height: auto;
}


@media (max-width:1400px){
    .learn_card_container {
        width: calc(100% - 100px);
    }
}

@media (max-width: 1000px){
    .learn_card_container {
        width: calc(80%);
    }

    .learn_card {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:600px){
    .learn_card_container {
        width: calc(100% - 15px);
    }
}